
<style>
  #header{
    width: 100%;
    height: 100vh;
  }
  
  
 

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<app-navbar></app-navbar>

<section id="header" class="container-fluid">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-6 col-xl-5">
        <div class="col-lg-7 pt-5 ">
          <h1 class="h1-large pt-5 fw-bold">Learn how to train your body</h1>
          <p class="p-large ">Get all the tips you need on how to train different muscles of your body as a beginner at the gym.</p>
          <a class="btn btn-info btn-sm" href="#services">Learn more</a>
        </div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid" src="../assets/images/3d.jpg"  width="70%" height="60%" alt="alternative"  />
        </div>
      </div>
    </div>
  </div>
</section>