
 <section class="logo-container">
    <nav
      class="navbar navbar-expand-md fixed-top navbar-light bg-white" aria-label="Main navigation">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span><span><img src="../assets/images/icons8.png" /> SmartTrainer</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#header">Home</a>
      
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#info">information</a>
            </li>
          </ul>
          <a href="#community" class="btn btn-brand ms-lg-3">Subscribe</a>
        </div>
      </div>
    </nav>
 </section>


<section id="header" class="container-fluid" style="background-color: rgb(246, 253, 253);">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-6 col-xl-5">
        <div class="col-lg-7 pt-5 ">
          <h1 class="h1-large pt-5 fw-bold">Learn how to train your body</h1>
          <p class="p-large ">As a beginner at the gym, get all the information you need on how 
            to train different muscles in your body.</p>
          <a class="btn btn-info btn-sm" href="#services">Learn more</a>
        </div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid" src="../assets/images/3d.jpg"  width="70%" height="60%" alt="alternative"  />
        </div>
      </div>
    </div>
  </div>
</section>



  <section id="services">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
          
          <h1>Explore Our Services</h1>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-sm-6 text-center">
          <div class="service card-effect bounceInUp">
            <div class="iconbox">
              <img src="../assets/images/meal.png">
            </div>
            <h5 class="mt-4 mb-2">Meal plan</h5>
            <p>We offer detailed meal plans to guide you on the type of food you should eat before and after every workout session.
            </p>
            <a class="read-more no-line" href="#">Learn more <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
          <div class="service card-effect">
            <div class="iconbox">
              <img src="../assets/images/trainers.png">
            </div>
            <h5 class="mt-4 mb-2">Exercise schedule</h5>
            <p>We offer detailed weekely exercise plan which will help as far as having a more organized regular exercise
            schedule
            </p>
            <a class="read-more no-line" href="#">Learn more <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
          <div class="service card-effect">
            <div class="iconbox">
              <img src="../assets/images/timetable.png">
            </div>
            <h5 class="mt-4 mb-2">Learn from our trainers</h5>
            <p>Our team of highly qualified trainers offer one-on-one sessions where they explain the names of all the muscles in our
            body and how to train them to get the best results
            </p>
            <a class="read-more no-line" href="#">Learn more <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="row bg-light py-5" id="feature">
<div class="card mb-4 card-effect service" style="max-width: 540px;" id="wrapper " >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/images/support.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ">
        <h5 class="card-title">Why Pick Us?</h5>
        <p class="card-text">TWe are aware of the frustration that results from entering a gym for the first time, taking in all the amazing
          equipment, but having no idea where to begin.
          When you're feeling demotivated, our support group will keep you going.</p>
          <a class="btn-solid-reg" href="#contact">Contact us</a>
      </div>
    </div>
  </div>
</div>
</section>

<section class="row bg-light " id="info">
  <div class="card mb-4 card-effect service" style="max-width: 540px;" id="flexbox">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="card-body ">
          <h5 class="card-title">Correct exercise technique is crucial!</h5>
          <p class="card-text">Learn from our workout videos how to carry out various exercises to correctly target all the different muscles.
          You do not need to look for workout videos because we provide them for you.</p>
        <a class="btn-solid-reg" href="#community">Get notifications</a>
        </div>
      </div>
      <div class="col-md-5">
        <img src="../assets/images/click.png" class="card-img" alt="...">
      </div>
    </div>
  </div>
</section>


<section class="container-fluid " id="contact">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-5 m-auto text-center">
        <h1>Contact Us</h1>
        <h6 style="color: rgb(255, 0, 55);">For more information</h6>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-9 m-auto">
        <div class="row">
          <div class="col-lg-4">
              <h6>LOCATION</h6>
              <P>Pietermaritzburg SA</P>
              <h6>PHONE</h6>
              <P>(033) 625 8637</P>
              <h6>EMAIL</h6>
              <P>smarttrainer@yahoo.com</P>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="First Name">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 py-3">
                <textarea name="" class="form-control bg-light" id="" cols="10" rows="5" placeholder="Enter message"></textarea>
              </div>
            </div>
            <button class="btn btn-danger btn-sm rounded-3">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid " id="community">
  <div class="row py-5" id="row-container">
    <div class="container text-center">
      <div class="col-md-6 mx-auto">
      <h3 class="mt-4">Dont miss our updates,Join our community </h3>
      <div class="input-group mt-5" id="mailing">
        <input type="email" class="form-control" placeholder="Enter your email">
        <button class="btn " type="button">Submit</button>
      </div>
    </div> 
    </div>
  </div>
</div>


<footer class="pt-4 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5>Follow Us</h5>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#"><fa-icon style="font-size: 40px;" [icon]="faYoutube"></fa-icon></a></li>
          <li class="list-inline-item"><a href="#"><fa-icon style="font-size: 40px;" [icon]="faFacebook"></fa-icon></a></li>
          <li class="list-inline-item"><a href="#"><fa-icon style="font-size: 40px;" [icon]="faInstagramSquare"></fa-icon></a></li>
          <li class="list-inline-item"><a href="#"><fa-icon style="font-size: 40px;" [icon]="faLinkedin"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>