#header {
    width: 100%;
    height: 100vh;
}

.btn {
    background-color: rgb(20, 50, 220);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}


@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}


.card-effect {
    
    box-shadow: 5px 6px 5px 7px rgba(227, 219, 219, 0.75);
    -webkit-box-shadow: 5px 6px 5px 7px rgba(227, 219, 219, 0.75);
    -moz-box-shadow: 5px 6px 5px 7px rgba(227, 219, 219, 0.75);
}

.card-effect:hover {
    box-shadow: none;
    
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 2;
    cursor: pointer;
        
}
.effect {
     box-shadow: none;

     transform: scale(1.1);
     transition: all linear 200ms;
     z-index: 2;
     cursor: pointer;

 }

#wrapper {
    position: relative;
    left: 50px;
   
}
#flexbox{
    position: relative;
    left: 500px;
}
.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: rgb(136, 136, 250);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);
    ;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}
.image-container {
    position: relative;
    top: 40px;
    left: 60px;
}

.image2 {
    position: relative;
    top: -80px;
    left: 5px;
    width: 90%;
    height: 100%;
}

.image1 {
    position: absolute;
    top: -30px;
    right: 50px;
    
}
.pulser {
    width: 30px;
    height: 30px;
    background: rebeccapurple;
    border-radius: 50%;
    position: relative;
    ;
}

.pulser::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        transform: scale(1.4);
        opacity: 0.4;
    }
}

.pulser::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: blueviolet;
    border-radius: 50%;
    z-index: -1;
}
h4 {
    font-size: 28px;
    color: #1d1a1a;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 98px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 98px #ff4da6;
    }
}
#shadow{
    box-shadow: 10px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 12px 5px 0px rgba(0, 0, 0, 0.75);
}
.glow {
    position: relative;
    width: 48px;
    height: 48px;
    transform: rotate(45deg);
    background: #C0FFE4;
    box-shadow: 1px 1px 0 #1D8758, 0 0 20px 5px #C0FFE4, inset 2px 2px 0 #D3FFEC;
    animation: glow 2s infinite ease;
}

.glow:before,
.glow:after {
    content: '';
    display: block;
    position: absolute;
}

.glow:before {
    width: 22px;
    height: 22px;
    top: 11px;
    left: 11px;
    background: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 2px 3px #B3F6D9;
    box-shadow: 1px 1px 0 #A2E6C9, 0 0 20px 5px #C0FFE4, inset 2px 2px 0 #D3FFEC;
}

.glow:after {
    left: 0;
    width: 4px;
    height: 48px;
    background: #fff;
    z-index: 5;
    animation: sheen 5s infinite;
}

/* animates box shadow glow effect */
@keyframes glow {

    0%,
    100% {
        box-shadow: 1px 1px #1D8758, 0 0 20px 5px #8FFFCF, inset 2px 2px #D3FFEC;
    }

    50% {
        box-shadow: 1px 1px #1D8758, 0 0 16px 8px #8FFFCF, inset 2px 2px #D3FFEC;
    }
}

/* animates light across diamond */
@keyframes sheen {

    0%,
    100% {
        left: 0;
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    10% {
        left: calc(100% - 4px);
    }

    11%,
    98% {
        left: 100%;
        opacity: 0;
    }
}

/* glass orb */
.orb {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 5em;
    background: #C0FFE4;
    background-image: radial-gradient(farthest-corner at 34px 14px, #A2E6C9 25%, #1D8758 35%, #D3FFEC 100%);
    box-shadow: 0 0 20px 5px #C0FFE4;
    animation: orb 1.8s infinite;
}

.orb:before {
    content: '';
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 2px;
    left: 2px;
    background-image: radial-gradient(farthest-corner at 14px 14px, #fff 15%, #C0FFE4 50%, rgba(192, 255, 228, 0) 100%);
    border-radius: 50%;
}


#move{
    text-align: center;
    float: left;
}
.pulser{
    left: 30%;
    top: -100px;
}
.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#00FF00, #00FF00, #00FF00);
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#00b2ff, #00ffbb, #6bff6b);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #162434;
    border-radius: 50%;
}